.main{
    padding: 3rem 7%;
}
.main h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 3rem 0;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));/*so cards will have a width of min 30rem and if space left it is adjusted equally and autofit means how many cards can be fitted in screen width*/
    gap: 1.5rem;
}
.card{
    position: relative;
    background-color: aliceblue;
    padding: 3rem 2rem;
    text-align: center;
    cursor: pointer;
}
.card .fa-heart{
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 3rem;
    color: rgb(77, 77, 77);
}
.card img{
    width: 100%;
}
.card h3{
    color: black;
    font-size: 2rem;
    padding: 1rem 0;
}
.card .price{
    color: black;
    font-size: 1.8rem;
    padding: 0.5rem 0;
}
